{% extends "site_base.html" %}
{% block content %}
        <div class="page-header">
          <h1>Not just events (but mostly events)</h1>
        </div>
        <div class="lead">
          <p>This site was started to scratch an itch. What kind of events are
          happening and what kind of spaces are available in Richmond for
          developers, designers, and the entrepreneurs who work side-by-side
          with them?</p>
        </div>
        <p>The content here is aggregated to provide a central view into what's
        going on. It's run by one-person and events are pulled from a hopefully
        ever-growing list of event hosts and groups.</p>
        <p>If you have an event, event series, or group that hosts events which
        you'd like to suggest, please contact me via Twitter <a
        href="http://twitter.com/RVAConnect">@RVAConnect</a>.</p>
{% endblock %}
