{% extends "site_base.html" %}
{% load events_tags %}
{% block content %}
        <div class="page-header">
          <h1>
            Richmond Events
            <a href="{% url 'event_list_ical' %}" title="Download the iCalendar file"><span class="glyphicon glyphicon-calendar"></span></a>
          </h1>
          <p>Upcoming events for developers, designers, and start-up entrepreneurs.</p>
        </div>
        {% regroup events_list by start.month as grouped_events %}
        {% for event_month in grouped_events %}
          <h2 class="hdr-month hdr-month-{{ event_month.grouper }}">{{ event_month.grouper|month_name }}</h2>
          {% for event in event_month.list %}
            <div class="event">
              <h3><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h3>
              <a name="event-{{ forloop.counter }}"></a>
              <p>{{ event.description|striptags|truncatewords:20|safe }}</p>
              <p>{{ event.start }}{% if event.end %} &mdash; {{ event.end }}{% endif %}</p>
            </div>
            {% endfor %}
        {% endfor %}
{% endblock %}
